attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.7
idna==2.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
requests==2.25.1
service-identity==21.1.0
six==1.16.0
TelegramBotAPI==0.3.2
urllib3==1.26.6
telebot-0.0.4
pyTelegramBotAPI
